$User-List-Background: #2F3136;

.userListOff {
    display: none;
}

.userListOn {
    background-color: $User-List-Background;
    width: 240px;
    padding: 20px;

    h4 {
        font-size: 14px;
        font-weight: 600;
        pointer-events: none;
    }

    .onlineContainer {
        h4 {
            color: grey;
        }
    }

    .offlineContainer {
        h4 {
            color: grey;
        }
    }
}