$SidePanel-Footer: #292B2F;

.voice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
  background-color: $SidePanel-Footer;
  border-top: 1px solid #444;
}

.voice {
  .voiceIcon {
    font-size: 14px;
    color: #4fb185;
    position: relative;
    top: -9px;
  }

  .info {
    flex: 1;
    padding-left: 10px;

    h3 {
      &:hover {
        cursor: pointer;
      }

      color: #4fb185;
      font-size: 14px;
    }

    p {
      &:hover {
        cursor: pointer;
      }

      font-size: 12px;
    }
  }

  .voiceIconsContainer {
    .icon {
      &:hover {
        cursor: pointer;
        color: white;
      }

      padding: 10px;
      color: #c8c5c5;
    }
  }
}