$Discord-White: #FFFFFF;

.message {
  display: flex;
  align-items: center;
  padding: 20px;

  .avatar {
    color: $Discord-White;
  }

  .info {
    margin-left: 20px;
    color: $Discord-White;
    
    h4 {
      font-size: 14px;
      font-weight: 600;
      color: $Discord-White;
    }

    p {
      font-size: 14px;
      margin-left: 2px;
      color: #CCC;
    }

    .timestamp {
      color: gray;
      margin-left: 20px;
      font-size: 13px;
      font-weight: 300;
    }
  }
}