$Discord-White: #FFFFFF;

.line {
  border-top: 1px solid #42454A;
  margin-left: 1rem;
  margin-right: .875rem;
}

.message {
  &:hover {
    background-image: linear-gradient(to bottom, #40454f 0%, #40454f 100%), linear-gradient(to bottom,  #363A3F 0%,  #363A3F 100%);
    background-clip: content-box, padding-box;
  }

  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;

  .avatar {
    &:hover {
      cursor: pointer;
    }
    
    height: 38px;
    width: 38px;
    margin-left: 20px;
    color: $Discord-White;

    svg {
        position: relative;
        top: 4px;
    }
  }

  .info {
    margin-left: 20px;
    margin-top: 0px;
    color: $Discord-White;

    p {
      font-size: 14px;
      margin-left: 2px;
      color: #CCC;
    }

    .container {
      h4 {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        
        display: inline;
        font-size: 14px;
        font-weight: 600;
        color: $Discord-White;
        background-clip: content-box, padding-box;
      }

      .timestamp {
        &:hover {
          text-decoration: none;
          cursor: default;
        }

        color: gray;
        margin-left: 20px;
        font-size: 11px;
        font-weight: 300;
      }
    }
  }
}