$Discord-White: #FFFFFF;
$Discord-Side-Panel: #2f3135;
$Channel-Hover: #40464b;
$Channel-Active: #393C42;

.channel {
    &:hover {
        h4 {
            color: $Discord-White;
            background-color: $Channel-Hover;
        }
    }
    padding: 0px 14px 0px 14px;
    margin-bottom: 4px;


    h4 {
        padding-top: 5px;
        padding-bottom: 4px;
        font-size: 15px;
    }

    .inactive {
        display: flex;
        padding-left: 15px;
        align-items: center;
        background-color: $Discord-Side-Panel;
        color: grey;
        cursor: pointer;
        border-radius: 4px;
        font-size: 15px;
        margin-bottom: 0px;
        letter-spacing: 0.6px;
    }

    .active {
        @extend .inactive;
        color: $Discord-White;
        background-color: $Channel-Active;
    }

    .hash {
        font-size: 17px;
        padding: 0px 8px 0px 4px;
        position: relative;
        bottom: 1px;
    }
}