$Discord-White: #FFFFFF;
$Channel-Hover: #40464b;

.channel {
  &:hover {
    h4 {
      color: $Discord-White;
      background-color: $Channel-Hover;
    }
  }
  padding: 0px 14px 0px 14px;

  .inactive {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2f3135;
    color: grey;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 0px;
  }

  .active {
    @extend .inactive;
    color: $Discord-White;
    background-color: $Channel-Hover;
  }

  .hash {
    font-size: 20px;
    padding: 4px 8px 4px 4px;
  }
}