.left {
  height: inherit;

  h3 {
    display: flex;
    align-items: center;
    color: white;
    pointer-events: none;
    font-size: 16px;
    font-weight: 600;
    height: inherit;
    margin-bottom: 0;
    position: relative;
    top: 3px;
  }

  .atSign {
    display: inline-block;
    color: gray;
    font-size: 28px;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 8px;
  }

  .friendName {
    display: inline-block;
    position: relative;
    bottom: 4px;
  }

  .hash {
    color: grey;
    font-size: 24px;
    padding: 0px 10px 0px 16px;
    pointer-events: none;
    margin-bottom: 4px;
  }
}