.sidePanel {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;

  .top {
    &:hover {
      background-color: #40464b;//#40464b
      cursor: pointer;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2f3135;
    color: white;
    border-bottom: 2px solid #26282c;
    font-size: 15px;

    .antIcons {
      font-size: 12px;
    }
  }

  .channels {
    flex: 1;
    
    .header {
      &:hover {
        color: white;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 10px 10px 10px;
      background-color: #2f3135;
      color: grey;

      .title {
        display: flex;
        align-items: center;
        cursor: pointer;

        h4 {
          margin-left: 8px;
          font-size: 15px;
        }

        .antIcons {
          font-size: 10px;
          position: relative;
          top: -2px;
        }
      }

      .addChannel {
        &:hover {
          cursor: pointer;
        }

        margin-right: 8px;
      }

      .list {

      }
    }
  }

  .voice,
  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 10px;
    background-color: #2f3135;
    border-top: 1px solid #444;
  }

  .voice {
    .voiceIcon {
      font-size: 14px;
      color: #4fb185;
      position: relative;
      top: -9px;
    }

    .info {
      flex: 1;
      padding-left: 10px;

      h3 {
        &:hover {
          cursor: pointer;
        }

        color: #4fb185;
        font-size: 14px;
      }

      p {
        &:hover {
          cursor: pointer;
        }

        font-size: 12px;
      }
    }

    .voiceIconsContainer {
      .icon {
        &:hover {
          cursor: pointer;
          color: white;
        }

        padding: 10px;
        color: #c8c5c5;
      }
    }
  }

  .profile {
    background-color: #292B2F;

    h3{
      color: white;
      font-size: 14px;
    }

    p{
      font-size: 13px;
    }

    .avatar {
      &:hover {
        cursor: pointer;
      }
    }

    .info {
      flex: 1;
      margin-left: 10px;
    }

    .iconsContainer {
      .icon {
        &:hover {
          cursor: pointer;
          color: white;
        }

        padding: 10px;
        color: #c8c5c5;
      }
    }
  }
}