.side-panel {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
}

.side-panel-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
}

.side-panel-channels {
  flex: 1;
}

.side-panel-channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: grey;
}

.side-panel-header {
  display: flex;
  align-items: center;
}

.side-panel-add_channel {
  cursor: pointer;
}

.side-panel-add_channel:hover {
  color: rgb(48, 240, 0);
}

.side-panel-channels-list {

}

.side-panel-voice, .side-panel-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
  background-color: #2f3135;
  border-top: 1px solid gray;
}

.side-panel-voice_icon {
  font-size: large;
  color: #4fb185;
}

.side-panel-voice_info {
  flex: 1;
  padding: 10px;
}

.side-panel-voice_info > h3 {
  color: #4fb185;
}

.side-panel-voice_info > p {
  font-size: smaller;
}

.side-panel-voice_icons > .anticon svg {
  padding: 10px;
}

.side-panel-profile_info {
  flex: 1;
  padding: 10px;

}

.side-panel-profile_info > h3{
  color: white;
}

.side-panel-profile_info > p{
  
}

.side-panel-profile_icons > .anticon svg {
  padding: 10px;
}