$discord-dark-grey: #363a3f;
$discord-msg-input: #474b53;

@mixin no-scroll-bar {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

.chat {  
  background-color: $discord-dark-grey;
  display: grid;
  grid-template-rows: 53px 1fr;

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr auto;

    .flexContainer {
      display: flex;
      flex-direction: column;
      justify-content: end;
      max-height: 1273px;//really bad hack should fix

      .messagesWrapper {
        @include no-scroll-bar;
        overflow: auto;
        scrollbar-width: none;

        .messages {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          overflow-y: auto;
        }
      } 
    }
  }

  .input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    margin: 20px;
    background-color: $discord-msg-input;

    form {
      flex: 1;

      input {
        width: 100%;
        padding: 15px;
        background: transparent;
        border: none;
        outline-width: 0;
        color: white;
        font-size: 14px;
      }

      button {
        display: none;
      }
    }

    .antIcons {
      font-size: 20px;
    }
  }

  .antIcons {
    padding: 5px;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  /* 
    Polyfill for removing blue outline on input for Firefox and Chrome
  */
  :focus {
    outline: none;
  }

  ::-moz-focus-inner {
    border: 0;
  }
}