$Discord-Green: #3BA55D;


.right {
  display: flex;
  align-items: center;
  flex: 0.25;
  justify-content: space-between;

  .antIcons {
    &:hover {
      color: white;
    }

    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 4px;
    margin-left: 4px;
    color: #b7b7b7;
  }

  .antIconsQuestion {
    @extend .antIcons;
    margin-right: 16px;
  }

  .search {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: grey;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
    margin-right: 10px;
    margin-left: 10px;
  
    input {
      padding: 2px 2px 2px 6px;
      background: transparent;
      border: none;
      color: white;
      position: relative;
      top: 1px;
    }
  
    .antIcon {
      &:hover {
        cursor: pointer;
        color: white;
      }
      
      position: relative;
      right: 5px;
      font-size: 16px;
    }
  }
}