$Discord-White: #FFFFFF;
$Top-Panel-Hover: #40464b;

@mixin smooth-transition {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.sidePanel {
  color: $Discord-White;
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;

  .top {
    &:hover {
      background-color: #40464b;
      cursor: pointer;
    }

    h3 {
      color: $Discord-White;
      font-weight: 900;
      font-size: 15px;
      padding-bottom: 5px;
      position: relative;
      top: 2px;
    }

    @include smooth-transition;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-bottom: 0px;
    background-color: #2f3135;
    color: $Discord-White;
    border-bottom: 2px solid #26282c;
    font-size: 15px;

    .antIcons {
      font-size: 12px;
      position: relative;
      bottom: 6px;
    }
  }
}