.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  border-bottom: 2px solid #2a2c30;

  /* 
    Polyfill for removing blue outline on input for Firefox and Chrome
  */
  :focus {
    outline: none;
  }

  ::-moz-focus-inner {
    border: 0;
  }
}