$active: #5865F2;
$inactive: #36393F;
$hover-font: #fff;
$font: #CACACA;

@mixin smooth-transition {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.home {
    &:hover {
        cursor: pointer;
        border-radius: 14px;
        background-color: $active;
        color: $hover-font;
    }

    @include smooth-transition;
    background-color: $inactive;
    height: 47px;
    width: 47px;
    margin-left: 12px;
    margin-top: 14px;
    border-radius: 25px;
    text-align: center;
    color: $font;

    .antIcons {
        margin-top: 10px;
        font-size: 27px;
        margin-right: 0px;
    }
}

.active {
    @extend .home;
    background-color: $active;
    color: $hover-font;
}