.left {
  height: inherit;

  h3 {
    display: flex;
    align-items: center;
    color: white;
    pointer-events: none;
    font-size: 16px;
    font-weight: 600;
    height: inherit;
    margin-bottom: 0;
    position: relative;
    top: 3px;
  }

  .hash {
    color: grey;
    font-size: 28px;
    padding: 0px 10px 0px 20px;
    pointer-events: none;
    margin-bottom: 4px;
  }
}